* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 0 0.5rem;
}

.form {
  color: white;
  margin: 10% 25%;
  padding: 5%;
  width: 550px;
  background: gray;
  opacity: 70%;
}

label {
  margin-right: 1%;
}

.form>div {
  display: flex;
}

hr {
  height: 0.3px;
  background-color: darkgray;
}

button {
  margin: auto;
}

.btnLogout{
  margin-left: 50%;
}

@media screen and (max-width: 900px) {
  .form {
    margin: 10% 5%;
    padding: 5%;
    width: 400px;
    flex-direction: column;
    justify-content: space-around;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 40px;
    ;
    text-align: center;
  }

  .btn {
    margin-top: 10px;
    width: 80px;
  }

}

@media screen and (max-width: 550px) {
  .form {
    margin: 10% 3%;
    padding: 3%;
    width: 300px;
    flex-direction: column;
    justify-content: space-around;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
    ;
    text-align: center;
  }


  .btn {
    margin-top: 10px;
    width: 80px;
  }
}